<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Painel de Controle</h2>
    <h3>Lista de usuários:</h3>
    <ul>
        {% for user in users %}
        <li>{{ user.name }} - {{ user.email }}
            {% if not user.is_admin %}
            <a href="{{ url_for('promote_user', user_id=user._id) }}">Promover a Admin</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{{ url_for('add_restaurant') }}">Adicionar novos restaurantes</a>
</body>
</html>
